<h1 class="mt-5">
  Lista de Ordenes
  <button class="btn btn-outline-primary btn-sm" (click)="openModal(template, null)">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon> Nuevo
  </button>
</h1>

<app-table
  [headers]="headers"
  [rows]="rows"
  [options]="[]"
  (eventEdit)="openModal(template, $event)"
  (eventDelete)="delete($event)"></app-table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{!this.editingId ? 'Nueva' : 'Editar'}} Orden
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="row">
        <div class="mb-1 col-md-6">
          <label for="user" class="col-form-label">Usuario</label>
          <select class="form-select" id="user" formControlName="id_user">
            <option value="null" selected>** Seleccione **</option>
            <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
          </select>
        </div>
        <div class="mb-1 col-md-6">
          <label for="order_number" class="col-form-label">Número de Orden</label>
          <input type="text" class="form-control" id="order_number" formControlName="order_number">
        </div>
      </div>
      <div class="mb-1">
        <label for="provider_name" class="col-form-label">Nombre de proveedor</label>
        <input type="text" class="form-control" id="provider_name" formControlName="provider_name">
      </div>
      <div class="mb-1">
        <label for="observation" class="col-form-label">Observación:</label>
        <textarea class="form-control" id="observation" formControlName="observation"></textarea>
      </div>
      <div class="row">
        <div class="mb-1 col-md-6">
          <label for="total_value" class="col-form-label">Valor total</label>
          <input type="text" class="form-control" id="total_value" formControlName="total_value">
        </div>
        <div class="mb-1 col-md-6">
          <label for="date_time" class="col-form-label">Fecha</label>
          <input type="date" class="form-control" id="date_time" formControlName="date_time">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Guardar</button>
    </div>
  </form>
</ng-template>

