<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGfgMoAXBbMrg/profile-displayphoto-shrink_800_800/0/1523764554506?e=1659571200&v=beta&t=F0g2zkSOk-FuFY6iP1q0XnVmLRFi6FNod-bPPRS8yBc" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a [routerLink]="['orders']" class="nav-link px-2 text-secondary" [routerLinkActive]="['text-white']">Ordenes</a></li>
          <li><a [routerLink]="['products']" class="nav-link px-2 text-secondary" [routerLinkActive]="['text-white']">Productos</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main class="flex-shrink-0">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
</body>
</html>


